<!DOCTYPE html>
<html>
    <head>
        <title>property upload page</title>
        <link rel="stylesheet" href="css/login.css">
        <link rel="stylesheet" href="css/propertyUpload.css">
        <!-- <link rel="stylesheet" href="css/style.css"> -->
    </head>
    <style>
        body{
            background-size: cover; 
        }
    </style>
    <body class="myBody">
      <div class="myContainer">
            <div class="col-md-8 mb-md-5 d-flex align-middle justify-content-center" id="content">
                <h2 class="text-center">Publicar anuncio <br></h2>
              <form action="#" class="bg-light p-5 contact-form">
                <div class="md-form">
                    <textarea name="property" cols="30" rows="7" class="md-textarea form-control" placeholder="Caracteristicas"></textarea>
                </div>
                <br>
                <br>
                <br>
                <div class="form-group">
                  <textarea name="description" id="" cols="30" rows="7" class="form-control" placeholder="Descripcion"></textarea>
                </div>
                <div class="form-group">
                  <input type="submit" value="Subir imagenes" class="btn btn-primary py-3 px-5">
                  <input type="submit" value="Publicar anuncio" class="btn btn-primary py-3 px-5">
                </div>
              </form>     
            </div>
          </div>
</html>