<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="css/login.css">
    
</head>
<style>
        body{
            background-size: cover; 
        }
    </style>
<body class="" background="images/bg_1.jpg">

<div class="container">
	<div class="wrapper fadeInDown">
        <div id="formContent">
            
          <!-- Sign Up Form -->
          <form>
            <h3>Sign Up</h3>
            <input type="text" id="emailAddress" class="fadeIn second" name="emailAddress" placeholder="Email Address">
            <input type="text" id="username" class="fadeIn second" name="username" placeholder="Username">
            <input type="text" id="password" class="fadeIn third" name="password" placeholder="Password">            
            <input type="submit" class="fadeIn fourth" value="Sign Up">
          </form>
    
        </div>
      </div>

</div>

</body>
</html>