<div >
    <textarea class="form-control" rows="5" [(ngModel)]="message"></textarea>
    <br>
    <br>
    <input type="button" style="padding: 15px 50px;" value="Comment" (click)="uploadComment()">
    <div *ngFor= "let comment of comments" >
        <li class="list-group-item" style="margin-bottom: 20px;height: 115px;">
        <p>{{comment.author}}</p>
        <p>{{comment.message}}</p>
        <a class="btn d-flex align-items-center btn-custom-edit" id="deleteMethod" style="float:left;" (click)="deleteComment(comment.id)">
            <span class="icon-trash"style="color:red; float:right;" ></span>
        </a>
        </li>
        
    </div>
</div>